body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

button:focus {
    outline: none;
}

.btn-start {
    position: absolute;

    top: calc(50% + 100px);
    left: 50%;
    background-color: rgb(12, 146, 146);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    border: 2px solid #14748e;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: 10ms ease;
    user-select: none;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #27dede75);
}

.btn-start:hover {
    background-color: #14748e;
}

.shadow {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid rgba(242, 228, 228, 0.71);
    width: 400px;
    height: 100px;
    box-shadow: inset 0px 0px 20px 0px black;
}

.random {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 400px;
    height: 100px;
    background: rgb(68, 115, 117);
}

.cards-rnd {
    position: absolute;
    left: 0;
    top: 0;
    width: 2000px;
    height: 100%;
    transition: 1200ms ease;
}

.cards-rnd div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 4px;
    width: 100px;
    height: 90px;
    color: #8a9999;
    background: white;
    border-radius: 10px;
}

.result {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top: 20px solid rebeccapurple;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}